body{
    margin: 0;
    padding: 0;
    font-family: 'Benne', serif;   
}
/* index/produit/panier/confirmation */
a{
    text-decoration: none;
    color: black;
    height: 40px;
}
p{
    margin: 0;
}
.logo{
    width: 120px;
    height: 50px;
}
.panier{
    width: 40px;
    height: 40px;
}

nav{
    background-color: rgba(231, 225, 243, 0.993);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}
h1{
    font-size: 1.8em;
    text-align: center;
    border-bottom: 5px double;
    border-top:3px solid;
    margin: 0 0 20px 0;
}

section{
    margin: 0 5px;
    display: flex;
    flex-direction: column;
}

.photoPeluche{
    object-fit: cover;
    width: 100%;
}

.description{
    color: white;
    font-size: 1.1em;
    text-align: center;
}
.description h2{
    font-size: 1.2em;
    margin: 0;
}

.prix{
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    margin: 0 15px 0 0;
}

footer{
    background-color: rgba(231, 225, 243, 0.993);
    display: flex;
    justify-content: space-between;
}
.footer{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    margin:10px auto 0 auto;
}
.footer h3{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: 0;
}
.bouton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: rgba(231, 225, 243, 0.993);
    width: 98%;
    height: 50px;
    margin-bottom: 15px;
    padding: 0;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 30%);
    font-size: 1.5em;
    transition: scale;
}

button:active{
    transform: scale(0.99);
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 30%);
}

.popup{
    opacity: 0;
    background-color:  rgb(61, 60, 60);
    width: 200px;
    height: 100px;
    font-weight: 800;
    font-size: 1.3em;
    border-radius: 20px;
    color: white;
    position: fixed;
    bottom: 300px;
    right: 80px;
    padding: 0 20px;
}

.popup.show{
     animation:showpopup 3s ease-in-out;
}
    @keyframes showpopup {
        0%{		   
           opacity: 0.8;
        }  
        90%{
            opacity: 0.8;
        }        	 
        100%{	
           opacity: 0;
        }
    }

.textePopup{
    text-align: center;
    margin-top: 30px;
}
/* index */
#fonctionnement{
    height: 500px;
    margin: auto;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.blocFonctionnement{
    position: relative;
	display: flex;
	align-items: center;
	justify-content:flex-start;
    background-color: rgba(231, 225, 243, 0.993);
	width: 350px;
	height: 60px;
	margin: auto;
	border-radius:20px;
	box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 30%);
	cursor: pointer;
    transition: scale 5s;
}
.blocFonctionnement:hover{
    transform: scale(1.01);
}
.blocFonctionnement i{
	color:black;
	margin: 0 15px;
}

.blocFonctionnement span{
	position: relative;
	right: 10px;
	font-size: 0.7em;
	color: white;
	font-weight: bold;
	background-color: #9356DC;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blocFonctionnement p{
	font-weight: bold;
	text-align: left;
	margin-left: 20px;
}

#conteneurArticlesIndex{
    height: 2400px;
}

.articleIndex{
    background-color: rgb(61, 60, 60);
    margin: auto;
    width:360px;
    height: 420px;
    border-radius:20px;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 40%);
    cursor: pointer;	
}

.photoPelucheIndex{
    height: 230px;
    border-radius:20px 20px 0 0;
}

/* produit */
/* #conteneurProduit{
    height: 980px;
} */

.articleProduit{
    margin: 0 auto 0 auto;
    width:360px;
    height:800px;
    cursor: pointer;
}

.descriptionProduit{
    text-align: left;
    color: black;
    height: 600px;
}
.descriptionProduit h2{
    font-size: 2em;
    margin-bottom: 20px;
}
.descriptionProduit p{
    font-size: 1.5em;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label{
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 600;
}
select{
    height: 50px;
    font-size: 1em;
    font-weight: 700;
    border-radius: 20px;
    border: 4px solid rgb(61, 60, 60);
}

#choixCouleur{
    width: 150px;
}

#quantite{
    width: 100px;
}

.prixProduit{
     position: absolute;
     left: 300px;
     margin-top: 50px;
     font-size: 2em;
}

/* panier */
.panierVide{
    font-size: 2em;
    text-align: center;
    margin-bottom: 50px;
}
.articlePanier{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 2px solid black;
}

.photoPeluchePanier{
    width: 100%;
    height: 130px;
}

.photoPanier{
    width:400px ;
    display: flex;
    flex-direction: column;
}

.descriptionPanier{
    font-size: 0.8em;
    text-align: center;
}

.prixPanier{
    margin: 0 ;
   
}

.gras{
    font-weight: 800;
}


.btnSupprimer{
    margin-top: 10px;
    width: 70%;
}

.btnPanierVide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
}

#sousTotal{
    font-size: 2em;
    font-weight: 900;
}

fieldset{
    border: 3px double rgb(61, 60, 60);
}
legend{
    font-size: 1.5em;
}
label{
    width: 100%;
}
.input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border:none;
    border-radius: 20px;
    font-size: 1.2em;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 10%) inset;
}
 ::placeholder{
     padding-left: 10px;
 }

/* confirmation */

