.centrerPresentation {
    font-size: 2em;
    left: 240px; 
}

.basPresentation{
        left: 5%;        
        font-size: 1.2em;       
}  

section{
    margin: auto;
    width: 90%;
}

#conteneurArticlesIndex{
    height: 3000px;
} 

.articleIndex{
    width: 450px;
    height: 500px;
}

.photoPelucheIndex{
    height: 300px;
    border-radius:20px 20px 0 0;
}
.articleProduit{
    width: 70%;
    height: 750px;
    margin: 20px auto 12% auto;
}

.photoPelucheProduit{
    width:90%;
    
}

.btn{
    width: 70%;
}

.btnSupprimer{
    font-size: 1.2em;
}

.btnPanier{
    width: 45%;
    height: 60px;
    
}

.prixProduit{
    left: 550px;
}

.popup{
    width: 300px;
    height: 150px;
    font-weight: 900;
    font-size: 1.5em;
    bottom: 60%;
    right: 30%;
}

#listeProduitVide{
  height: 600px;
}
.photoPeluchePanier{
    width: 100%;
    height: 200px;
}

.articlePhotoPanier{
    font-size: 1.6em;
}

.descriptionPanier{
    font-size: 1.5em;
    text-align: center;
}

